.ant-btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 0 15px;
    font-size: 14px;
    border-radius: 2px;
    height: 32px;
    user-select: none;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    position: relative;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
    color: var(--text-color);
    background-color: var(--bg-color);
    border-color: var(--border-color);
}

.ant-btn:hover, .ant-btn:focus {
    color: var(--primary-color-hover);
    background-color: var(--bg-color);
    border-color: var(--primary-color-hover);
}

.ant-btn:active {
    color: var(--primary-color-active);
    background-color: var(--bg-color);
    border-color: var(--primary-color-active);
}

.ant-btn-primary {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}

.ant-btn-primary:hover, .ant-btn-primary:focus {
    color: #fff;
    background-color: var(--primary-color-hover);
    border-color: var(--primary-color-hover);
}

.ant-btn-primary:active {
    color: #fff;
    background-color: var(--primary-color-active);
    border-color: var(--primary-color-active);
}

.ant-btn-danger {
    color: #fff;
    background-color: var(--error-color);
    border-color: var(--error-color);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}

.ant-btn-lg {
    height: 40px;
    padding: 0 15px;
    font-size: 16px;
    border-radius: 2px;
}

.ant-btn-sm {
    height: 24px;
    padding: 0 7px;
    font-size: 14px;
    border-radius: 2px;
}

.ant-btn-block {
    width: 100%;
}

.ant-btn-disabled,
.ant-btn-disabled:hover,
.ant-btn-disabled:focus,
.ant-btn-disabled:active {
    color: var(--disabled-color);
    background-color: var(--bg-color-grey);
    border-color: var(--border-color);
    text-shadow: none;
    box-shadow: none;
    cursor: not-allowed;
}
