.ant-card {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--text-color);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    list-style: none;
    font-feature-settings: 'tnum';
    position: relative;
    background: var(--bg-color);
    border-radius: 2px;
    transition: all 0.3s;
    border: 1px solid var(--border-color-split);
}

.ant-card-hoverable {
    cursor: pointer;
}

.ant-card-hoverable:hover {
    border-color: rgba(0, 0, 0, 0.09);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
}

.ant-card-head {
    min-height: 48px;
    margin-bottom: -1px;
    padding: 0 24px;
    color: var(--heading-color);
    font-weight: 500;
    font-size: 16px;
    background: transparent;
    border-bottom: 1px solid var(--border-color-split);
    border-radius: 2px 2px 0 0;
    display: flex;
    align-items: center;
}

.ant-card-head-title {
    display: inline-block;
    flex: 1;
    padding: 16px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ant-card-body {
    padding: 24px;
}

.ant-card-actions {
    margin: 0;
    padding: 0;
    list-style: none;
    background: var(--bg-color-light);
    border-top: 1px solid var(--border-color-split);
    display: flex;
}

.ant-card-actions > li {
    margin: 12px 0;
    color: var(--text-color-secondary);
    text-align: center;
    flex: 1;
}

.ant-card-actions > li > span {
    position: relative;
    display: block;
    min-width: 32px;
    font-size: 14px;
    line-height: 22px;
    cursor: pointer;
}
