.ant-layout-footer {
    padding: 24px 50px;
    color: var(--text-color-secondary);
    font-size: 14px;
    background: var(--bg-color-light);
}

.ant-footer-links {
    margin-bottom: 8px;
}

.ant-footer-links a {
    color: var(--text-color-secondary);
    margin-right: 40px;
}

.ant-footer-links a:hover {
    color: var(--text-color);
}

.ant-footer-copyright {
    color: var(--text-color-secondary);
}
