.ant-layout {
    display: flex;
    flex: auto;
    flex-direction: column;
    min-height: 0;
    background: var(--bg-color-light);
}

.ant-layout-has-sider {
    flex-direction: row;
}

.ant-layout-content {
    flex: auto;
    min-height: 0;
}

.ant-layout-content-wrapper {
    padding: 24px;
    background: var(--bg-color);
}

.ant-page-header {
    padding: 16px 24px;
    background: var(--bg-color);
    border-bottom: 1px solid var(--border-color-split);
}

.ant-page-header-heading {
    display: flex;
    justify-content: space-between;
}

.ant-page-header-heading-title {
    margin-right: 12px;
    margin-bottom: 0;
    color: var(--heading-color);
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
}

.ant-page-header-heading-sub-title {
    margin-right: 12px;
    color: var(--text-color-secondary);
    font-size: 14px;
    line-height: 32px;
}

.ant-breadcrumb {
    color: var(--text-color-secondary);
    font-size: 14px;
}

.ant-breadcrumb a {
    color: var(--text-color-secondary);
    transition: color 0.3s;
}

.ant-breadcrumb a:hover {
    color: var(--primary-color-hover);
}

.ant-breadcrumb > span:last-child {
    color: var(--text-color);
}

.ant-breadcrumb-separator {
    margin: 0 8px;
    color: var(--text-color-secondary);
}
