.ant-layout-sider {
    position: relative;
    min-width: 0;
    background: #001529;
    transition: all 0.2s;
}

.ant-layout-sider-collapsed {
    width: 80px !important;
    min-width: 80px !important;
    max-width: 80px !important;
}

.ant-layout-sider-children {
    height: 100%;
    margin-top: 0;
    padding-top: 0;
}

.ant-layout-sider-trigger {
    position: fixed;
    bottom: 0;
    z-index: 1;
    height: 48px;
    color: #fff;
    line-height: 48px;
    text-align: center;
    background: #002140;
    cursor: pointer;
    transition: all 0.2s;
}

.ant-sider-menu {
    border-right: 0;
}

.ant-sider-logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
